[submodule "geoserver/geotools/geotools"]
	path = geoserver/geotools/geotools
	url = git://github.com/boundlessgeo/geotools.git
[submodule "geoserver/geoserver/geoserver"]
	path = geoserver/geoserver/geoserver
	url = git://github.com/boundlessgeo/geoserver.git
[submodule "geoserver/geowebcache/geowebcache"]
	path = geoserver/geowebcache/geowebcache
	url = git://github.com/boundlessgeo/geowebcache.git
[submodule "geoserver/externals/geoserver-exts/geoserver-exts"]
	path = geoserver/externals/geoserver-exts/geoserver-exts
	url = git://github.com/boundlessgeo/geoserver-exts.git
[submodule "geoserver/externals/geoscript/py"]
	path = geoserver/externals/geoscript/py
	url = git://github.com/geoscript/geoscript-py.git
[submodule "geoserver/data_dir/externals/suite-data"]
	path = geoserver/data_dir/externals/suite-data
	url = https://github.com/boundlessgeo/suite-data.git
[submodule "composer/composer"]
	path = composer/composer
	url = git@github.com:boundlessgeo/composer.git
[submodule "wpsbuilder/wps-gui"]
	path = wpsbuilder/wps-gui
	url = https://github.com/boundlessgeo/wps-gui.git
[submodule "geoserver/externals/geomesa/geomesa"]
	path = geoserver/externals/geomesa/geomesa
	url = https://github.com/boundlessgeo/geomesa.git
	branch = opengeo_suite_4.8
