.DS_Store
*.pyc
local.properties
target/
.project
.classpath
.settings/
workspace/
jetty/lib
/docs/install/linux/source/centos/
/docs/install/linux/source/details.rst
/docs/install/linux/source/index.rst
/docs/install/linux/source/ubuntu/
/docs/install/mac/source/README-mac.rst
/docs/install/mac/source/img/
/docs/install/windows/source/README-windows.rst
/docs/install/windows/source/img/
/geoserver/web/app/src/main/
/data_dir
geoserver/webapp/proxy.json