#!/usr/bin/make -f
# -*- makefile -*-
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

MAJOR_VERSION = $(shell grep POSTGIS_MAJOR_VERSION Version.config|cut -d= -f2)
MINOR_VERSION = $(shell grep POSTGIS_MINOR_VERSION Version.config|cut -d= -f2)
MICRO_VERSION = $(shell grep POSTGIS_MICRO_VERSION Version.config|cut -d= -f2)
VERSION = $(MAJOR_VERSION).$(MINOR_VERSION).$(MICRO_VERSION)
ifeq ($(VERSION),..)
$(error Cannot detect Postgis version, fix debian/rules)
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp:
	touch $@

build-indep: build-indep-stamp
build-indep-stamp:
	touch $@

clean:
	dh_testdir
	dh_testroot
	[ ! -f GNUmakefile ] || $(MAKE) distclean || true
	rm -f $(CURDIR)/debian/*.postinst $(CURDIR)/debian/*.postrm
	dh_clean 

install: install-indep install-arch
install-indep: build-indep
	dh_testdir
	dh_testroot
	dh_prep -i 
	dh_installdirs -i
	# PostGIS JDBC
	(cd java/jdbc/; mvn install -Dmaven.repo.local=$(PWD)/.m2/)
	mkdir -p $(CURDIR)/debian/libpostgis-java/usr/share/java/$(JAVA_PATH)
	cp $(CURDIR)/java/jdbc/target/postgis-jdbc-2.0.1SVN.jar $(CURDIR)/debian/libpostgis-java/usr/share/java/$(JAVA_PATH)
	dh_install -i

install-arch: build-arch
	dh_testdir
	dh_testroot
	dh_prep -s 
	dh_installdirs -s
	# Documentation and common files for PostGIS
	[ ! -f doc/html/postgis.html.prev ] && cp doc/html/postgis.html doc/html/postgis.html.prev || true
	
	./configure \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--docdir=$(CURDIR)/debian/postgis/usr/share/doc \
		--exec-prefix=\$${prefix}/lib/postgresql/9.2 \
		--datadir=\$${prefix}/share/postgresql-9.2-postgis \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--with-pgconfig=/usr/lib/postgresql/9.2/bin/pg_config \
		--with-geosconfig=/usr/bin/geos-config \
		--with-gdalconfig=/usr/bin/gdal-config \
		--with-gui
	$(MAKE) -j16
	$(MAKE) -C doc
	$(MAKE) install DESTDIR=$(CURDIR)/debian/postgresql-9.2-postgis
	$(MAKE) -C doc install DESTDIR=$(CURDIR)/debian/postgis
	
	mkdir -p $(CURDIR)/debian/opengeo-postgis-shapeloader/usr/sbin
	mkdir -p $(CURDIR)/debian/opengeo-postgis-shapeloader/usr/share/pixmaps
	cp loader/pgsql2shp $(CURDIR)/debian/opengeo-postgis-shapeloader/usr/sbin
	cp loader/shp2pgsql-gui $(CURDIR)/debian/opengeo-postgis-shapeloader/usr/sbin
	cp loader/shp2pgsql $(CURDIR)/debian/opengeo-postgis-shapeloader/usr/sbin
	cp loader/shp2pgsql-gui.ico $(CURDIR)/debian/opengeo-postgis-shapeloader/usr/share/pixmaps
	
	# Create custom maint scripts
	
	sed -e 's/@POSTGIS_VERSION@/$(VERSION)/' \
	    -e 's/@POSTGRES_VERSION@/9.2/' \
	    -e 's/@SOVERSION@/$(MAJOR_VERSION).$(MINOR_VERSION)/' \
	    $(CURDIR)/debian/postgis-postgresql-generic.postinst.in >$(CURDIR)/debian/postgresql-9.2-postgis.postinst
	
	sed -e 's/@POSTGRES_VERSIONS@/9.2/' \
	    -e 's/@SOVERSION@/$(MAJOR_VERSION).$(MINOR_VERSION)/' \
	    $(CURDIR)/debian/postgis-generic.postrm.in >$(CURDIR)/debian/postgis.postrm
	
	dh_install -s
	
	# copy utils
	mkdir -p $(CURDIR)/debian/postgresql-9.2-postgis/usr/share/postgresql-9.2-postgis/utils
	cp utils/*.pl utils/README $(CURDIR)/debian/postgresql-9.2-postgis/usr/share/postgresql-9.2-postgis/utils

check: install-arch
	$(MAKE) check

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch check
