<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <bean id="opengeoTheme" class="org.geoserver.web.HeaderContribution">
        <property name="scope" value="com.boundlessgeo.geoserver.web.OpenGeoTheme"/>
        <property name="CSSFilename" value="css/opengeo.css"/>
        <property name="faviconFilename" value="favicon/favicon.ico"/>
    </bean>
    
    <bean id="boundlessGwcTheme" class="com.boundlessgeo.geowebcache.web.BoundlessWebResourceBundle" />
</beans>

