/*-----------------------
General styles
-----------------------*/

body {
z-index: -1;
padding-left: 20px;
background: #fff;
color: #0076a1;
font-family: "Helvetica", "Arial", Lucida Sans Unicode, Lucida Grande, Verdana, sans-serif;
text-align:left !important; /* override blueprint's ie.css */

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
color: #0A2742;
font-family: "Century Gothic", Optima, Verdana, Arial, Helvetica, sans-serif;
height: auto; /* override blueprint's screen.css */
}

li.minitoc {
color: #808080;
list-style-type: none;
}

li.minitoc a {
padding-left: 10px;
width: 50px;
}

strong, 
em,
dt, 
b, 
i {
font-family: "Helvetica", "Arial", Lucida Sans Unicode, Lucida Grande, Verdana, sans-serif;
}

em.guilabel {
font-weight: bold;
font-style: normal;
}

em.menuselection {
font-weight: bold;
font-style: normal;
}

a {
color: #332722;
/*color: #0A2742;*/
outline: none !important; /* avoid ugly dotted border for Firefox */
}

a:hover {
/*color: #6C9400;*/
color: #BF381A;
text-decoration: underline;
}

a img {
border: none; 
}

div {
outline: none !important; /* avoid ugly dotted border for Firefox, when listeners are added via js */
}

/*  Added to override default italics */

blockquote {
font-style: normal;
}

blockquote li {
color: #262523;
}

li p {
margin-bottom: 0;
}

li blockquote {
margin: 0;
}


table, 
td, 
th {
vertical-align: baseline; /* override blueprint's screen.css */
}

.error, 
.notice, 
.success { /* override blueprint.css */
border: 0 none transparent;
margin-bottom: 0;
padding: 0;
background: transparent;
border-color: transparent;
}

/*-----------------------
Utility Classes
-----------------------*/

.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}


.selfclear {
display: inline-block; /* IE 7  */
}

.selfclear {
display: block;
}

* html .selfclear {
height: 1px; /* IE < 7 */
}


/* Alpha transparency for IE6 */
* html .pngfix {
zoom: 1;
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1 ?  (this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = "../img/transparent.gif") : (this.origBg = this.origBg ? this.origBg :  this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='" + (this.currentStyle.backgroundRepeat=='no-repeat' ? 'crop' : 'scale') +"')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}

.leftwise {
float:left;
}

.rightwise {
float:right;
}

.nobreak {
white-space: nowrap;
}

.hidden {
display: none;
}

.wrap {
margin: auto; 
padding: 0;
width: 1000px;
}

.align-center {
text-align: center;
}

.figure {
margin-top: 15px;
margin-bottom: 15px;
text-align: center;
}


/*-----------------------
Structural Elements
-----------------------*/

#header {
margin-top: -10px;
margin-left: -20px;
background: url(./chrome/header-bg.png) 0 100% repeat-x;
/*border-bottom: solid 10px #332722; */
}

#topshelf {
height: 50px;
margin-left: -35px;
margin-top: 10px;
background: url(./chrome/topshelf.png) 0 100% no-repeat;
}

#topshelftxt {
font-weight: bold;
font-size: 20px;
margin: 15px 0 0 50px;
padding-top: 6px;
color: #332722;
}

.disclaimer {
font-weight: bold;
font-size: 12px;
color: #BF381A;
/*margin: -35px 0 0 6px;*/
}

#distxt {
/*text-align: justify;*/
color: #332722;
font-size: 12px;
margin: 4px 0 125px 7px;
height: 76px;
width: 200px;
}

#main {
/*background: #fff url(./chrome/main-bg.png) repeat-x; */
margin-left: 15px;
}

#content {
width: 740px; /*790px total*/
float: right;
margin: 2px 0 0 10px;
padding: 1216px 28px 0 22px;
/*background: #fff url(./chrome/content-bg.png) repeat-x; */
color: #262523;
font-size: 1.2em;
}

#sidebar {
width: 230px;
margin: 0 40px 0 -15px; 
padding: 58px 0 0 ;
/*color: #0A2742;*/
/*background: url(./chrome/sidebar-content-bg.png) no-repeat; */
}

* html #sidebar {
margin: 0 -5px 0 5px;
}

#footer {
/*background: #0A2742 url(./chrome/footer-bg.png) repeat-x;*/
background: #332722 url(./chrome/footer-bg.png) repeat-x;
color: #d9d9d9;
margin-left: -25px;
padding: 55px; 
text-align: center;
font-size: 0.84em;
}

/*-----------------------
Header
-----------------------*/
#header .wrap {
position: relative;
height: 134px;
padding: 1px 0 0;
overflow: hidden;
}

#logo a {
margin: 16px 0 0 35px;
padding-left: 10px;
float: left;
width: 470px;
height: 112px;
overflow: hidden;
text-indent: -9999em;
background: url(./chrome/opengeo-logo.png) no-repeat;
}

#account-nav {
position: absolute;
top: 1.2em;
right: 0;
margin: 0;
}

#account-nav a {
color: #0076a1;
text-decoration: none;
}

#account-nav a:hover {
color: #72a629;
}

#account-nav li {
list-style-type: none;
display: inline;
border-right: 1px solid #c6e09b;
padding: 0 0.8em;
}

#account-nav li.last {
border-right: 0 none transparent;
padding: 0 0 0 0.8em;
}

#search {
margin-left: -30px;
margin-top: 30px;
}

#top-nav {
position: absolute;
bottom: 42px;
right: 195px;
list-style: none;
margin: 0;
border: solid black 1px;
}

#top-nav li {
display: inline;
margin: 0;
padding: 0 8px;
border-left: 1px solid #c6e09b;
}

#top-nav li:first-child, #top-nav li.first {
border-left: 0;
}

#top-nav li a {
color: #0076a1;
font-weight: bold;
font-size: 1.2em;
text-decoration: none;
font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#top-nav li a:hover {
color: #72a629;
}

#quick-search {
margin: -35px 0 0 805px;
bottom: 40px;
background: transparent url(./chrome/search-box.png) top left no-repeat;
height: 28px;
width: 190px;
color: #332722;
}

#quick-search legend {
display: none;
}

#quick-search fieldset {
float: none;
margin: 0;
padding: 0;
border: 0 none transparent;
}

#quick-search-query {
position: absolute;
font-size: 0.92em;
border: 0;
background: transparent;
width: 145px; 
margin: 6px 0 0 8px;
}

#quick-search-submit {
position: absolute;
margin-left: 160px;
padding-top: 6px;	
}


/*-----------------------
Content
-----------------------*/
#content #breadcrumbs {
font-size: 0.85em;
color: #7391cc;
margin: -1205px 0 5px 0;
padding-bottom: 13px;
height: 20px;
}

#hr-div {
border-width: 0;
height: 1px;	
}

#content #breadcrumbs li {
list-style-type: none;
display: inline;
color: #BF381A;
}

#content #breadcrumbs a {
color: #BF381A;
text-decoration: none;
}

#content #breadcrumbs a:hover {
color: #332722;
}

#content h1 {
padding: 4px;
color: #332722;
}

#content h2, 
#content h4 {
border-bottom: 1px solid  #BF381A; /*#486300; */
padding: 0 4px;
}

#content #relatedlinks {
margin: -30px 0 0 10px;
padding: 0;
font-size: 0.833em;
}

#content #relatedlinks li {
float: right;
list-style-type: none;
}

#content #relatedlinks li a {
padding: 0 0.5em;
}

#content #relatedlinks li.first a {
padding: 0 0 0 0.5em;
}


#rellinks {
/*position:absolute;*/
margin-top: 40px;
margin-left: -100px;
}

#content h1 {
font-size: 2em;
margin: 0 0 0.3em;
}

#content h1 pre {
font-size: 2em;
margin: 0.2em 0 0.3em;
}

#content h2 {
font-size: 1.7em;
color: #BF381A; 
}

#content h3 {
font-size: 1.4em;
color: #BF381A; 
/*border-bottom: 1px solid  #BF381A; /*#6C9400; */
line-height: 1.5;
}

#abbr, 
#content acronym {
border-bottom: 0 none transparent;
}

#content img {
border: 1px solid #888;
-webkit-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
-o-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
-moz-box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3);
box-shadow: 0.33em 0.33em 0.17em #888, 0.33em 0.33em 1em rgba(0,0,0,0.3); 
max-width:100%;
}

* html #content img {
width: expression(this.width > 690 ? 690: true);
}

/* taken from the default Sphinx theme */
ul.search {
margin: 10px 0 0 20px;
padding: 0;
}

ul.search li {
padding: 5px 0 5px 20px;
background-image: url(./chrome/file.png);
background-repeat: no-repeat;
background-position: 0 7px;
}

ul.search li a {
font-weight: bold;
font-size: 1.1em;
}

ul.search li div.context {
color: #888; 
margin: 2px 0 0 30px;
text-align: left;
}

ul.search li div.context .highlight, p .highlight, pre .highlight, ul.simple li .highlight, h1 .highlight {
font-weight: bold;
background: #ff0;
}

ul.keywordmatches li.goodmatch a {
font-weight: bold;
}

pre.code {
background-color: #C2C2C2;
font-weight:bold;
}

.docwarning {
background-color: #ffe4e4;
padding: 10px;
margin: 0;
border-bottom: 1px solid #f66;
}

p.subhead {
font-weight: bold;
margin-top: 20px;
}

p.caption {
text-align: inherit;
margin-top: 0.5em;
}

#content td {
text-align: left;
}

ul.fakelist {
list-style: none;
margin: 10px 0 10px 20px;
padding: 0;
}

.field-list ul {
margin: 0;
padding-left: 1em;
}

.first {
margin-top: 0 !important;
}

.last {
padding-left: 14px;
}


/* "Footnotes" heading */
p.rubric {
margin-top: 30px;
color:#486300;
font-size:1.7em;
border-bottom:1px solid #486300; 
padding:0 4px;
font-family: "Century Gothic","Optima",Verdana,Arial,Helvetica,sans-serif;

}

div.admonition {
margin-top: 10px;
margin-bottom: 10px;
}

div.admonition dt {
font-weight: bold;
}

div.admonition dl {
margin-bottom: 0;
}

div.admonition p.admonition-title + p {
margin:0.5em 1em;
padding:0;
}

#content li div.warning {
background-color: #ffe4e4;
color: #222;
}


div.seealso {
background-color: #ffc;
border: 1px solid #ff6;
}

div.warning {
background-color: #ffe4e4;
border: 1px solid #f66;
margin-top: 4px;
margin-bottom: 4x;
}

div.note {
border: 1px solid #A8BCCF;
}

p.admonition-title {
background:#A8BCCF none repeat scroll 0 0;
display:block;
font-weight:bold;
margin:0;
padding:0.2em 0 0.1em 0.5em;
text-transform:uppercase;
}

p.admonition-title:after {
content: ":";
}

table.docutils {
border: 0;
margin-top: 12px;
}


table.docutils td, table.docutils th {
padding: 1px 8px 1px 4px;
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom: 1px solid #aaa;
}


table.field-list td, table.field-list th {
border: 0 !important;
}

table.footnote td, table.footnote th {
border: 0 !important;
}

.field-list p {
margin: 0;
}

dl {
margin-bottom: 15px;
clear: both;
}

dl dt {
font-weight: normal;
}

dd p {
margin-top: 0px;
}

dd ul, dd table {
margin-bottom: 10px;
}

dd {
margin-top: 3px;
margin-bottom: 10px;
margin-left: 30px;
}

.refcount {
color: #060;
}

dt:target, .highlight {
background-color: #A8BCCF;
}

dl.glossary dt {
/*color:#486300; */
color: #BF381A;
font-family:century gothic;
font-size:1.1em;
font-weight:normal;
}

th {
text-align: left;
padding-right: 5px;
}

pre {
padding: 10px;
background-color: #F0F5EF;
color: #333; 
border: 1px solid #A8BCCF; 
border-left: none;
border-right: none;
font-size: .95em; 
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

td.linenos pre {
padding: 5px 0px;
border: 0;
background-color: transparent;
color: #aaa;
}

table.highlighttable {
margin-left: 0.5em;
}

table.highlighttable td {
padding: 0 0.5em 0 0.5em;
}

tt {
/*background-color: #ecf0f3;*/ /* #C2C2C2; */
padding: 0 1px 0 1px;
font-size: 1.1em;
font-family: "Courier", sans-serif;
}

tt.descname {
background-color: transparent;
font-weight: bold;
font-size: 1.2em;
}

tt.descclassname {
background-color: transparent;
}

tt.xref, a tt {
background-color: transparent;
font-weight: bold;
}


.footnote:target  {
background-color: #F3F3F3
}

h1 tt,
h2 tt, 
h3 tt, 
h4 tt, 
h5 tt, 
h6 tt {
background-color: transparent;
}

.optional {
font-size: 1.3em;
}

.versionmodified {
font-style: italic;
}

form.comment {
margin: 0;
padding: 10px 30px 10px 30px;
background-color: #eee;
}

form.comment h3 {
background-color: #326591;
color: white;
margin: -10px -30px 10px -30px;
padding: 5px;
font-size: 1.4em;
}

form.comment input,
form.comment textarea {
border: 1px solid #ccc;
padding: 2px;
font-family: sans-serif;
font-size: 100%;
}

form.comment input[type="text"] {
width: 240px;
}

form.comment textarea {
width: 100%;
height: 200px;
margin-bottom: 10px;
}

.system-message {
background-color: #fda;
padding: 5px;
border: 3px solid red;
}

img.math {
vertical-align: middle;
}

img.last {
padding-left: 0;
}


div.math p {
text-align: center;
}

span.eqno {
float: right;
}

#download-link {
display: block;
margin: -145px -5px 23px -5px;
width: 210px;
height: 120px;
overflow: hidden;
text-indent: -9999em;
background: url(./chrome/download-link.png) no-repeat;
}

/*-----------------------
Sidebar
-----------------------*/
#sb_main {
margin-top: -15px;
}

#sidebar a {
text-decoration: none;
}

#sidebar a:visited {
background-color: #C2C2C2; 
}

#sidebar a:hover {
text-decoration: none;
color: #BF381A; 
}

#sidebar .pgClass {
width: 215px; 
/*border-right: solid #BF381A 1px;*/
}

#sidebar .pgClass h3 {
color: #332722;
border-bottom: solid #BF381A 2px;
margin: 0;
padding-left: 10px;
padding-bottom: 9px;
font-size: 1.3em;
font-weight: bold;
font-family: "Century Gothic","Optima",Verdana,Arial,Helvetica,sans-serif;
}

#sidebar .pgClass ul {
margin-top: 2px;
margin-left: -1px;
padding: 0;
}

#sidebar .pgClass li {
/* this next line seems to upset the SDK-API TOC 
- uncomment if that doc project reviewed */
/*width: 200px;*/
margin: 0 0 0.2em;
padding: 0 0.3em 0 1em;
list-style-type: none; 
}

.pgClass li .pre {
font-size: 14px;
word-wrap: break-word;
}

#sidebar .pgClass li:before {
/*content: "\00BB \0020";*/
margin: 0 0 0 -1em;
} 

#sidebar #toc {
margin: -30px 0 20px 13px;
}

#sidebar #toc ul {
color: #332722;
padding-top: 2px;
}

#sidebar #toc  a.current {
color: #BF381A!important; 
}

#sidebar #toc li {
font-size: 13px;
font-weight: bold;
font-family: Arial;
font-family: "Century Gothic",Optima,Verdana,Arial,Helvetica,sans-serif; 
}


#sidebar #toc li ul li {
font-family: Arial;
font-weight: normal;
}

#sidebar #toc li:before {
content: "";
margin: 0;
}

#sidebar #toc ul ul li:before {
/*content: "\00BB \0020"; */
padding-left: 10px;
margin: 0 0 0 -1em;
}


#sidebar .comman {
margin-top: 10px;
}

#sidebar .comman_main {
margin-top: 10px;
}


#blog-callout {
background: #5cc1e6 url(./chrome/blog-callout-bg.png) 0 100% no-repeat;
color: #fff;
margin: 0.9em 0 0;
padding: 0 0 15px;
}

#blog-callout dt {
margin: 0;
height: 58px;
position: relative;
overflow: hidden;
text-indent: -9999em;
background: url(./chrome/blog-callout.png) no-repeat;
}

#blog-callout dt strong a {
position: absolute;
width: 155px;
height: 28px;
top: 15px;
left: 10px;
background: url(./chrome/blog-callout.png) -10px -15px no-repeat;
}

#blog-callout dt a.rss {
position: absolute;
width: 20px;
height: 20px;
top: 15px;
right: 10px;
background: url(./chrome/blog-callout-rss.png) no-repeat;
}

#blog-callout dd {
color: #fff;
margin: 0 0 0 0.5em;
}

#blog-callout dd a {
color: #fff;
}

.rssMacro table th, .rssMacro table td {
border: 0 none transparent;
}

#blog-callout .rssMacro table td {
margin: 0 0 0.2em;
font-size: 0.9em;
padding: 0 4px 0 1em;
}

#blog-callout .rssMacro table td b {
font-weight: normal;
}

#blog-callout .rssMacro table td:before {
content: "\00BB \0020";
color: #fff;
margin: 0 0 0 -1em;
}

/*-----------------------
Footer
-----------------------*/
#footer p {
margin: 0;
padding: 1em 0 0;
color: #d9d9d9;
}

#footer strong, 
#footer em,
#footer dt, 
#footer b, 
#footer i {
color: #d9d9d9;
}


#footer a {
color: #fff;
text-decoration: none;
}

#footer a:hover {
color: #fff;
text-decoration: underline;
}

/*-----------------------
Miscellaneous
-----------------------*/
a.headerlink {
color: #c60f0f;
margin-left: 6px;
padding: 0 4px;
text-decoration: none;
visibility: hidden;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink,
dt:hover a.headerlink {
visibility: visible;
}

a.headerlink:hover {
background-color: #ccc;
color: #fff;
}

.pagination-nav {
margin: 1em 0 0;
/*border-top: 1px solid #7391CC;*/
font-size: 0.833em;
}
