@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-Regular.woff') format('woff'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('Montserrat-Bold.eot');
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-Bold.woff') format('woff'),
       url('Montserrat-Bold.ttf') format('truetype'),
       url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
}