 <div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Styler</h3>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default" style="padding-left: 20px;">
          <div class="panel-body" style="display:inline-block;">
            Selected Layer:
            <span  class="nullable">
              <ui-select ng-model="layers.selectedLayer" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 250px; display:inline-block; margin-left: 10px;">
                <ui-select-match placeholder="Select a layer...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="layer in layerCollection | filter: $select.search">
                  <span ng-bind-html="layer.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </span>
            <button style="display:inline-block; margin-left: 20px;" type="button" class="btn btn-success" ng-click="loadLayer()">Load &raquo;
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-6 map-wrapper-container">
      <div map-viewer>Map goes here</div>
    </div>
    <div class="col-sm-6">
      <div class="button-bar">
        <span>Editor:</span>
        <ui-select ng-change="modeChanged()" ng-init="firstMode()" ng-model="editor.currentMode" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 130px; display:inline-block;margin-left: 10px;">
          <ui-select-match placeholder="Editor...">{{$select.selected.title}}</ui-select-match>
          <ui-select-choices repeat="editor_mode in editor_modes | filter: $select.search">
            <span ng-bind-html="editor_mode.title | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
        <button type="button" class="btn btn-success pull-right">Save</button>
         <button type="button" class="btn btn-info pull-right" style="margin-right: 10px;">Save As...</button>
        <button type="button" class="btn btn-default pull-right" style="margin-right: 10px;">Undo</button>
      </div>
      <div ui-ace="{
        useWrapMode : true,
        onLoad: aceLoaded,
        onChange: aceChanged
        }" ng-model="aceModel"></div>
    </div>
  </div>
</div>
